<html>
  <head>
    <title>varp</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" data-emoji="📻" type="image/png">
    <script src="/emoji-favicon.js"></script>

    <style>
      html, body {
        margin-left: 0;
        margin-right: 0;
      }
      .feeds {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      }
      .controls {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .d-flex {
        display: flex;
      }
      .flex-1 {
        flex: 1;
      }
      .border-top {
        border-top: 1px solid #ababab !important;
      }
      .border-bottom {
        border-bottom: 1px solid #ababab !important;
      }
      .add-button {
        width: 50px;
        border: 0;
        border-left: 1px solid #ababab;
        border-top: 1px solid #ababab;
        background: white;
        font-size: 2em;
        color: #ababab;
      }
      .margin-0 {
        margin: 0;
      }
      .feed-url {
        border: 0;
      }
      .feed-url-label {
        padding: 1em 0.5em;
      }
      .no-link {
        text-decoration: none;
        color: #000000;
      }
      .float-right {
        float: right;
      }
      .border-0 {
        border: 0 !important;
      }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const feedContainer = document.querySelector('.feeds')
        for (const feed of JSON.parse(localStorage.getItem('feeds') || '[]')) {
          const feedElement = document.createElement('a')
          feedElement.href = `/${feed.id}`
          const image = document.createElement('img')
          image.src = feed.image
          image.alt = feed.title
          image.style.width = '100%'
          feedElement.appendChild(image)
          feedContainer.appendChild(feedElement)
        }
        const form = document.querySelector('form')
        form.addEventListener('submit', event => {
          event.preventDefault()
          const url = event.currentTarget.querySelector('#feed_url').value
          fetch('/feeds', {
            method: 'POST',
            body: JSON.stringify({url}),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(response => {
            if (response.status !== 200) {
              throw new Error('Error')
            }
            return response
          }).then(response => response.json()).then(json => {
            const feeds = JSON.parse(localStorage.getItem('feeds') || '[]')
            feeds.push(json)
            localStorage.setItem('feeds', JSON.stringify(feeds))
            alert('podcast added!')
            window.location.reload()
          })
        })
        document.querySelector('.js-toggle-feed-url').addEventListener('click', event => {
          event.preventDefault()

          const form = document.querySelector('form')
          form.classList.toggle('d-flex')
          form.hidden = !form.hidden
        })
      })
    </script>
  </head>
  <body>
    <div class="d-flex border-bottom">
      <h1 class="flex-1" style="padding-left: 1em;">
        <a href="/" class="no-link">📻 Varp</a>
      </h1>
      <button class="js-toggle-feed-url add-button border-0" style="padding-right: 1em;">+</button>
    </div>
    <form class="margin-0 border-bottom" hidden>
      <label for="feed_url" class="feed-url-label">URL: </label>
      <input id="feed_url" class="feed-url flex-1" placeholder="http://feeds.wnyc.org/moreperfect" />
    </form>
    <div class="feeds"></div>
    <audio controls class="controls"></audio>
  </body>
</html>
