<html>
  <head>
    <title>varp</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" data-emoji="📻" type="image/png">
    <script src="/emoji-favicon.js"></script>

    <style>
      html, body {
        margin-left: 0;
        margin-right: 0;
      }
      .feeds {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      }
      .controls {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .d-flex {
        display: flex;
      }
      .flex-1 {
        flex: 1;
      }
      .border-top {
        border-top: 1px solid #ababab !important;
      }
      .add-button {
        width: 50px;
        border: 0;
        border-left: 1px solid #ababab;
        border-top: 1px solid #ababab;
        background: white;
        font-size: 2em;
        color: #ababab;
      }
      .margin-0 {
        margin: 0;
      }
      .feed-url {
        border: 0;
      }
      .feed-url-label {
        padding: 1em 0.5em;
      }
      h1 {
        text-align: center;
      }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const feedContainer = document.querySelector('.feeds')
        for (const feed of JSON.parse(localStorage.getItem('feeds') || '[]')) {
          const feedElement = document.createElement('a')
          feedElement.href = `/${feed.id}`
          const image = document.createElement('img')
          image.src = feed.image
          image.alt = feed.title
          image.style.width = '100%'
          feedElement.appendChild(image)
          feedContainer.appendChild(feedElement)
        }
        const form = document.querySelector('form')
        form.addEventListener('submit', event => {
          event.preventDefault()
          const url = event.currentTarget.querySelector('#feed_url').value
          fetch('/feeds', {
            method: 'POST',
            body: JSON.stringify({url}),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(response => response.json()).then(json => {
            const feeds = JSON.parse(localStorage.getItem('feeds') || '[]')
            feeds.push(json)
            localStorage.setItem('feeds', JSON.stringify(feeds))
            alert('podcast added!')
          })
        })
      })
    </script>
  </head>
  <body>
    <h1>📻 Varp</h1>
    <div class="feeds"></div>
    <form class="controls d-flex margin-0">
      <label for="feed_url" class="feed-url-label border-top">URL: </label>
      <input id="feed_url" class="feed-url flex-1 border-top" placeholder="http://feeds.wnyc.org/moreperfect" />
      <button class="add-button">+</button>
    </form>
  </body>
</html>
