<html>
  <head>
    <title>reader</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" data-emoji="📜" type="image/png">
    <script src="/emoji-favicon.js"></script>

    <style>
      html, body {
        margin-left: 0;
        margin-right: 0;
      }
      .controls {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .d-flex {
        display: flex;
      }
      .flex-1 {
        flex: 1;
      }
      .border-top {
        border-top: 1px solid #ababab !important;
      }
      .border-bottom {
        border-bottom: 1px solid #ababab !important;
      }
      .add-button {
        width: 50px;
        border: 0;
        border-left: 1px solid #ababab;
        border-top: 1px solid #ababab;
        background: white;
        font-size: 2em;
        color: #ababab;
      }
      .margin-0 {
        margin: 0;
      }
      .feed-url {
        border: 0;
      }
      .feed-url-label {
        padding: 1em 0.5em;
      }
      .no-link {
        text-decoration: none;
        color: #000000;
      }
      .float-right {
        float: right;
      }
      .border-0 {
        border: 0 !important;
      }

      .feeds {
        margin: 1em;
      }

      .feed-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.83em;
        border: 1px solid gray;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
      }
      
      .feed-item > .body {
        padding: 0 0.83em;
      }

      .feed-item > .body > .post > .body {
        display: flex;
      }

      .feed-item > .body > .post > .body > .image {
        margin: 1em 0;
      }
      
      .feed-item > .body > .post > .body > .content {
        margin: 0 1em;
      }
      
      .feed-item > .body > .post > .body > .image > img {
        width: 200px;
      }

      .feed-item > .footer {
        padding: 0.3em 0.83em;
        font-size: 14px;
      }
      
      .timestamp { text-align: right; }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('form')
        form.addEventListener('submit', event => {
          event.preventDefault()
          const url = event.currentTarget.querySelector('#feed_url').value
          fetch('/feeds', {
            method: 'POST',
            body: JSON.stringify({url}),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(response => {
            if (response.status !== 200) {
              throw new Error('Error')
            }
            return response
          }).then(response => response.json()).then(json => {
            const feeds = JSON.parse(localStorage.getItem('reader-feeds') || '[]')
            feeds.push(json)
            localStorage.setItem('reader-feeds', JSON.stringify(feeds))
            alert('feed added!')
            window.location.reload()
          })
        })
        document.querySelector('.js-toggle-feed-url').addEventListener('click', event => {
          event.preventDefault()

          const form = document.querySelector('form')
          form.classList.toggle('d-flex')
          form.hidden = !form.hidden
        })
      })
    </script>
  </head>
  <body>
    <div class="d-flex border-bottom">
      <h1 class="flex-1" style="padding-left: 1em;">
        <a href="/" class="no-link">📜 Reader</a>
      </h1>
      <button class="js-toggle-feed-url add-button border-0" style="padding-right: 1em;">+</button>
    </div>
    <form class="margin-0 border-bottom" hidden>
      <label for="feed_url" class="feed-url-label">URL: </label>
      <input id="feed_url" class="feed-url flex-1" placeholder="http://feeds.wnyc.org/moreperfect" />
    </form>
    <div class="feeds">
      {{#each posts}}
      <div class="feed-item">
        <div class="body d-flex">
          {{{content}}}
        </div>
        <div class="footer border-top d-flex">
          <div class="flex-1">{{title}}</div>
          <a href="{{link}}" class="timestamp">
            <time>{{pubDate}}</time>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </body>
</html>
